<div class="col-md-12">
	<cc-spinner is-loading="buysService.isLoading" message="Loading"></cc-spinner>
    <div class="RegisterContainer clearfix" ng-show="buysService.isLoading==false">
    	<h3 class="text-center">{{title}}</h3>
   		<form  class="form"  novalidate ng-submit="buysService.SaveBuy(buysService.currentBuy)" name="buyForm">
	    	<div class="row">
	    		<div class="form-group col-md-12">
   		    		<label for="">Proveedor: </label>
	   		    		<select name="" id="" class="form-control" ng-options="prov.id as prov.nb_proveedor for prov in ProveedoresService.proveedores" ng-model="buysService.currentBuy.id_proveedor" required ng-change="GetProductsForSuplier(buysService.currentBuy.id_proveedor)">
	              		<option value="">Seleccionar...</option>   
	                </select>
   		    	</div>

	    		<div class="form-group col-md-12">
   		    		<label for="">Productos: </label>
	   		    		<select class="form-control" ng-options="prod.id as prod.nb_producto for prod in ProductService.products" ng-model="buysService.currentBuy.id_producto" required ng-change="AsignPrice(buysService.currentBuy.id_producto)">
	              		<option value="">Seleccionar...</option>   
	                </select>
   		    	</div>
				
				    <div class="form-group col-md-12">
   		    		<label for="">Cantidad: </label>
   		    		<input type="number" class="form-control" placeholder="Ingrese el nombre..." ng-model="buysService.currentBuy.num_cantidad" name="name" required ng-pattern="/^[0-9]{1,10}$/" ng-pattern-err-type="badPattern" ng-model-options="{debounce:300}" min="1">
   		    	</div>

  	    		<div class="form-group col-md-12">
     		    		<label for="">Descripción: </label>
                <textarea class="form-control" placeholder="Ingrese la descripción de la compra..." ng-model="buysService.currentBuy.desc_compra" name="name" required ng-pattern="/^[a-z\s\ñ\í\ó\ú\á\é]{1,350}$/i" ng-pattern-err-type="badPattern"></textarea>
     		    </div>

            <div class="form-group col-md-12">
                <label for="">Fecha: </label>
                <uib-datepicker ng-model="buysService.currentBuy.fec_compra" datepicker-options="options"></uib-datepicker>
            </div>
				
   		    	
   		    	<div class="form-group col-md-12">
   		    		<button class="btn btn-success Accept" type="submit">Guardar</button>
   		    		<button class="btn btn-link Cancel"  type="button" ng-click="ProductService.GoProducts()">Cancelar</button>
   		    	</div>
	    	</div><!-- r0w-->
   		</form>    
    </div> 
</div>
{{buysService.currentBuy | json}}
<div class="error" ng-if="ProductService.error==true"></div>