<h1 class="title text-center">You're Beautiful</h1>
<h3 class="title text-center">How could you not be with that angel face?.</h3>
<div class="beautiful-container">
	
</div>
<div class="col-md-12">
	<p class="text-pier text-center">
	<br><br>
		Is hard to not recognoize how beautiful you are, with such a pure look and smile, with a pale skin like a snow princess. There are so many things that i could say about you, but i think that no words can explain how incredible you are that even a guy at the other side of the world is developing this humble site while he listen to "dance with the dead" and makes him think about so many things.
		<br><br>
		If i could say anything else would be that i really want you to be the happier girl on the entire world, i remember all those things you told me and how unfair they were. I would love to change so many things in order to give you the happiness that you deserve.  
		<br><br>
	</p>
	<div class="amazing-button" ng-click="PressButton()">
		<button class="btn btn-danger">Another amazing Button?!</button>
	</div>
</div>

<div class="videoContainer top-video" ng-if="showVideo">
	<h4 class="title text-center">Happy birthday from Terminator! </h4>
	<h4 class="title text-center">Oh right!</h4>
    <iframe src="https://www.youtube.com/embed/m2KhsUbEpyY?autoplay=1" frameborder="0" allowfullscreen></iframe>

</div>