<div class="col-md-12">
<cc-spinner is-loading="buysService.isLoading" message="Loading"></cc-spinner>
	 <div class="row" ng-if="!buysService.isLoading">
	 	<h2 class="text-center">Compras</h2>
	 	<p class="text-center lead">Elija los rangos de fecha de las compras efectuadas</p>
	 	<div class="col-md-10 col-md-offset-1 DatesForm">
	 		<form ng-submit="buysService.FindBuys(buysService.searchDates)"> 
	 			<div class="col-md-6 form-group">
		 			<h4 class="text-center">Inicio</h4>
		 			<div class="date-container">
		 				<uib-datepicker ng-model="buysService.searchDates.start" class="well well-sm" datepicker-options="options"></uib-datepicker>
		 			</div>
		 		
		 		</div>
		 		<div class="col-md-6 form-group">
		 			<h4 class="text-center">Fin</h4>
		 			<div class="date-container">
		 				<uib-datepicker ng-model="buysService.searchDates.end" class="well well-sm" datepicker-options="options"></uib-datepicker>
		 			</div>
		 		</div>
		 		<div class="SearchProductbtn">
		 			<div class="btnFind">
		 				<button class="btn btn-primary btn-block" type="submit">Buscar</button>
		 			</div>
		 			<div class="btnRegister">
		 				<button class="btn btn-success btn-block" type="button" ng-click="RedirectAdd()">Registrar Compra</button>
		 			</div>
		 			
		 		</div>
	 		</form>
	 	</div>
	 </div>
</div>