<div class="col-md-12" ng-if="UsersService.error!=true">
	<cc-spinner is-loading="ProductService.isLoading" message="Loading"></cc-spinner>
	<div class="UsersContainer" ng-if="!UsersService.isLoading">
		<div class="col-md-12 Filtros pleft">
	    <div class="row">
	        <div class="col-xs-4">
	      <label for="search">Búsqueda:</label>
	      <input ng-model="q" id="search" class="form-control" placeholder="Filtrado">
	    </div>
	    <div class="col-xs-2">
	      <label for="search">Usuarios Por Página:</label>
	      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
	    </div>
	    </div><!-- row -->
	</div><!-- filtros -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">Producto</th>
				<th class="text-center">Descripción</th>
				<th class="text-center">Proveedor</th>
				<th class="text-center">Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" dir-paginate="prod in ProductService.products | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-class="{'selected':prod.id == ProductService.selectedProduct.id}" ng-click="SelectProduct(prod)">
				<td>{{prod.nb_producto}}</td>
				<td>{{prod.desc_producto}}</td>
				<td>{{prod.nb_proveedor}}</td>
				<td>{{prod.num_precio}}</td>
			</tr>
		</tbody>
	</table>

	<div class="col-md-12">
		<div class="text-center col-md-12">
      		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
       </div>
		<div class="col-md-5 buttons">
			<div class="col-md-3 BtnContent">
				<button class="btn btn-success" ng-click="RedirectAdd()">Agregar</button>
			</div>
			<div class="col-md-3 BtnContent">
				<button class="btn btn-warning" ng-click="RedirectEdit(ProductService.selectedProduct.id)">Editar</button>
			</div>
			<div class="col-md-3 BtnContent">
				<button class="btn btn-danger" ng-click="ProductService.DeleteProduct(ProductService.selectedProduct)" >Eliminar</button>
			</div>
		</div>
		
	</div>
	</div><!-- /.UsersContainer -->
</div>

<div class="error" ng-if="UsersService.error==true"></div>