<div class="col-md-12" ng-if="UsersService.error!=true">
	<cc-spinner is-loading="UsersService.isLoading" message="Loading"></cc-spinner>
	<div class="UsersContainer" ng-if="!UsersService.isLoading">
		<div class="col-md-12 Filtros pleft">
	    <div class="row">
	        <div class="col-xs-4">
	      <label for="search">Búsqueda:</label>
	      <input ng-model="q" id="search" class="form-control" placeholder="Filtrado">
	    </div>
	    <div class="col-xs-2">
	      <label for="search">Usuarios Por Página:</label>
	      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
	    </div>
	    </div><!-- row -->
	</div><!-- filtros -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">
					Name
					<div class="sortables">
						<span class="fa fa-sort-asc" ng-click="UsersService.ordering= 'nb_fname'" ng-style="{'cursor':'pointer'}"></span>
                        <span class="fa fa-sort-desc" ng-click="UsersService.ordering='-nb_fname'" ng-style="{'cursor':'pointer'}"></span>
					</div>
				</th>
				<th class="text-center">Lastname</th>
				<th class="text-center">User</th>
				<th class="text-center">Email</th>
				<th class="text-center">Rol</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" dir-paginate="user in UsersService.users | filter:q | itemsPerPage: pageSize | orderBy:UsersService.ordering" current-page="currentPage" ng-class="{'selected':user.id == UsersService.selectedUser.id}" ng-click="SelectUser(user)">
				<td>{{user.nb_fname}}</td>
				<td>{{user.nb_lname}}</td>
				<td>{{user.nb_user}}</td>
				<td>{{user.de_email}}</td>
				<td>{{user.nb_rol}}</td>
			</tr>
		</tbody>
	</table>

	<div class="col-md-12">
		<div class="text-center col-md-12">
      		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
       </div>
		<div class="col-md-5 buttons">
			<div class="col-md-3 BtnContent">
				<button class="btn btn-success" ng-click="RedirectAdd()">Agregar</button>
			</div>
			<div class="col-md-3 BtnContent">
				<button class="btn btn-warning" ng-click="RedirectEdit(UsersService.selectedUser.id)">Editar</button>
			</div>
			<div class="col-md-3 BtnContent">
				<button class="btn btn-danger" ng-click="UsersService.DeleteUser(UsersService.selectedUser)" >Eliminar</button>
			</div>
		</div>
		
	</div>
	</div><!-- /.UsersContainer -->
</div>

<div class="error" ng-if="UsersService.error==true"></div>